{% extends "layout.html" %}

{% block title %} Vehicles {% endblock %}

{% block head %}
	{{ super() }}
	<style>
		.t1{
			width: 25%;
		}
		.t2{
			width: 50%;
		}
	</style>

{% endblock %}

{% block content %}

	<div class="container mt-5 bg-white rounded shadow pt-5 pb-5 p-5 h-100 mb-5 w-100">
		<div class="container">
			<h1 class="text-center mb-5"> Ordenes </h1>
		</div>
		<div class="container">
			<div class="d-flex">
				<a href=""><button class="btn btn-outline-success">Crear Nueva Orden </button></a>
			</div>
		</div> 
		
		<div class="container mt-5">
		<table class="table" style="table-layout: fixed ; width: 100% ;">
			<thead class="table-dark">
				<tr>
				<th scope="col">#</th>
				<th scope="col">Estatus</th>
				<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody class="w-100">
				{% for order in orders %}
					<tr>
						<td class="t1">{{ order[0] }}</td>
						<td class="t1">{{ order[1] }}</td>
						<td class="t2">
							<div class="container row">
								<div class="col">
									{% if order[1] == 'Pending' %}
										<button class="asign w-100 my-2 btn btn-outline-success" value="{{ order[0] }}">Asignacion</button>
									{% endif %}
									<button class="w-100 my-2 crud-detalles btn btn-outline-info" value="{{ order[0] }}">Detalles</button>
								</div>
								<div class="col">
									<button data-type="order" class="w-100 my-2 crud-editar btn btn-outline-primary" value="{{ order[0] }}">Editar</button>
									<button data-type="order" class="w-100 my-2 crud-eliminar btn btn-outline-danger" value="{{ order[0] }}">Eliminar</button>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>

	</div>

{% endblock %}

{% block js %}
	{{ super() }}
	<script src="{{ url_for('static', filename = 'js/crud_redirect.js')}}"></script>
{% endblock %}