{% extends "layout.html" %}

{% block title %} Branches {% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

    <div class="container mt-5 bg-white rounded shadow pt-5 pb-5 p-5 h-100 mb-5 w-75">
        <div class="container">
            <h2 class="text-center mb-5"> Editar vehiculo </h1>
        </div>
        <div class="container my-5">
            <h5>ID de Vehiculo: {{ id }}</h5>
        </div>
        <form action="/edit-vehicle/{{ id }}" method="POST">
            
            <div class="row">
                <div class="col">
                    <label class="form-label">Atributo</label>
                    <select class="form-select" name="atributo" aria-label="Default select example">
                        <option selected> -- Selecciona un Atributo -- </option>
                        {% for atributo in atributos %}
                            <option value="{{ atributo[0] }}">{{ atributo[0] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label class="form-label">Valor nuevo </label>
                    <input type="text" class="form-control" name="valor">
                </div>
            </div>
            <div class="my-5 justiy-content-center">
                <button type="submit" class="btn center w-100 btn-lg btn-block shadow-lg text-light" style=" background-color: #8973D9">Realizar cambio</button>
            </div>
        </form>
    </div>

{% endblock %}

