{% extends "layout.html" %}

{% block title %} Vehicles {% endblock %}

{% block head %}
	{{ super() }}
	<style>
		td {
		width: 33% ;
		}
	</style>

{% endblock %}

{% block content %}

	<div class="container mt-5 bg-white rounded shadow pt-5 pb-5 p-5 h-100 mb-5 w-100">
		<div class="container">
			<h1 class="text-center mb-5"> Vehiculos </h1>
		</div>
		{% if session['admin'] %}
			<div class="container">
				<div class="d-flex">
					<a href="{{ url_for('create_vehicle_view')}}"><button class="btn btn-outline-success">Crear Nuevo Registro</button></a>
				</div>
			</div> 
		{% endif %}
		
		<div class="container mt-5">
		<table class="table" style="table-layout: fixed ; width: 100% ;">
			<thead class="table-dark">
				<tr>
				<th scope="col">#</th>
				<th scope="col">Nombre</th>
				<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody class="w-100">
				{% for vehicle in vehicles %}
					<tr>
						<td>{{ vehicle[0] }}</td>
						<td>{{ vehicle[1] }}</td>
						<td>
							<button id= "detalles" class="crud-detalles mx-2 btn btn-outline-info" value="{{ vehicle[0] }}">Detalles</button>
							{% if session['admin'] %}
								<button data-type="vehicle" class="crud-editar btn btn-outline-primary" value="{{ vehicle[0] }}">Editar</button>
								<button data-type="vehicle" class="crud-eliminar mx-2 btn btn-outline-danger" value="{{ vehicle[0] }}">Eliminar</button>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>

	</div>

{% endblock %}

{% block js %}
	{{ super() }}
	<script src="{{ url_for('static', filename = 'js/crud_redirect.js')}}"></script>
{% endblock %}