{% extends "layout.html" %}

{% block title %} Branches {% endblock %}

{% block head %}
	{{ super() }}
	<style>
		td {
		width: 33% ;
		}
	</style>

{% endblock %}

{% block content %}

	<div class="container mt-5 bg-white rounded shadow pt-5 pb-5 p-5 h-100 mb-5 w-100">
		<div class="container">
			<h1 class="text-center mb-5">Estaciones</h1>
		</div>
		<div class="container">
			<form class="d-flex" role="search">
				<button class="btn btn-outline-success" type="submit">Crear Nuevo Registro</button>
			</form>
		</div> 
		
		<div class="container mt-5">
			<table class="table" style="table-layout: fixed ; width: 100% ;">
				<thead class="table-dark">
					<tr>
					<th scope="col">#</th>
					<th scope="col">First</th>
					<th scope="col">Second</th>
					</tr>
				</thead>
				<tbody class="w-100">
					{% for branch in branches %}
						<tr>
							<td>{{ branch[0] }}</td>
							<td>{{ branch[1] }}</td>
							<td> <button class="mx-2 btn btn-outline-info">Detalles</button><button class="mx-2 btn btn-outline-primary">Editar</button><button id="vehicle" class="mx-2 btn btn-outline-danger">Eliminar</button></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}