{% extends "layout.html" %}

{% block title %} Branches {% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}

    <div class="container mt-5 bg-white rounded shadow pt-5 pb-5 p-5 h-100 mb-5 w-75">
        <div class="container">
            <h1 class="text-center mb-5">Crear vehiculo</h1>
        </div>
        <form action="/create-vehicle" method="POST">
            <div class="row">
                <div class="col">
                    <label class="form-label">Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="col">
                    <label class="form-label">Company ID</label>
                    <input type="text" class="form-control" name="company_id">
                </div>
                <div class="col">
                    <label class="form-label">Total distance</label>
                    <input type="text" class="form-control" name="total_distance">
                </div>
                <div class="col">
                    <label class="form-label">Route Count</label>
                    <input type="text" class="form-control" name="route_count">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Average Duration</label>
                    <input type="text" class="form-control" name="average_duration">
                </div>
                <div class="col">
                    <label class="form-label">Average Speed</label>
                    <input type="text" class="form-control" name="average_speed">
                </div>
                <div class="col">
                    <label class="form-label">Average Stop Count per Trip</label>
                    <input type="text" class="form-control" name="average_stop_count_per_trip">
                </div>
                <div class="col">
                    <label class="form-label">Average Distance Between Short Stops</label>
                    <input type="text" class="form-control" name="average_distance_between_short_stops">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Average Stem Distance</label>
                    <input type="text" class="form-control" name="average_stem_distance">
                </div>
                <div class="col">
                    <label class="form-label">Average Trip Distance</label>
                    <input type="text" class="form-control" name="average_trip_distance">
                </div>
                <div class="col">
                    <label class="form-label">Short Stops Time</label>
                    <input type="text" class="form-control" name="short_stops_time">
                </div>
                <div class="col">
                    <label class="form-label">Traveling Time</label>
                    <input type="text" class="form-control" name="traveling_time">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Resting Time</label>
                    <input type="text" class="form-control" name="resting_time">
                </div>
                <div class="col">
                    <label class="form-label">Stops Between 0-5</label>
                    <input type="text" class="form-control" name="stops_between_0_5">
                </div>
                <div class="col">
                    <label class="form-label">Stops Between 5-15</label>
                    <input type="text" class="form-control" name="stops_between_5_15">
                </div>
                <div class="col">
                    <label class="form-label">Stops Between 15-30</label>
                    <input type="text" class="form-control" name="stops_between_15_30">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Stops Between 30-60</label>
                    <input type="text" class="form-control" name="stops_between_30_60">
                </div>
                <div class="col">
                    <label class="form-label">Stops Between 60-120</label>
                    <input type="text" class="form-control" name="stops_between_60_120">
                </div>
                <div class="col">
                    <label class="form-label">Stops Between 120 Plus</label>
                    <input type="text" class="form-control" name="stops_between_120_plus">
                </div>
                <div class="col">
                    <label class="form-label">Average Trip Stop Time</label>
                    <input type="text" class="form-control" name="average_trip_stop_time">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Average Trip Traveling Time</label>
                    <input type="text" class="form-control" name="average_trip_traveling_time">
                </div>
                <div class="col">
                    <label class="form-label">Average Stop Count per Trip SD</label>
                    <input type="text" class="form-control" name="average_stop_count_per_trip_sd">
                </div>
                <div class="col">
                    <label class="form-label">Average Trip Distance SD</label>
                    <input type="text" class="form-control" name="average_trip_distance_sd">
                </div>
                <div class="col">
                    <label class="form-label">Average Stem Distance SD</label>
                    <input type="text" class="form-control" name="average_stem_distance_sd">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Average Speed SD</label>
                    <input type="text" class="form-control" name="average_speed_sd">
                </div>
                <div class="col">
                    <label class="form-label">Average Trip Duration SD</label>
                    <input type="text" class="form-control" name="average_trip_duration_sd">
                </div>
                <div class="col">
                    <label class="form-label">Average Trip Stop Time SD</label>
                    <input type="text" class="form-control" name="average_trip_stop_time_sd">
                </div>
                <div class="col">
                    <label class="form-label">Average Trip Traveling Time SD</label>
                    <input type="text" class="form-control" name="average_trip_traveling_time_sd">
                </div>
            </div>
            <div class="my-5 justiy-content-center">
                <button type="submit" class="btn center w-100 btn-lg btn-block shadow-lg text-light" style=" background-color: #8973D9">Iniciar sesión</button>
            </div>
        </form>
    </div>

{% endblock %}

